#root {
  width: 100vw;
}
.App {
  text-align: center;
  width: 100%;
}

.cityList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-flow: row wrap;
}

.cityList li, .cityList button, .locationButton {
  background-color: darkgreen;
  color: white;
  padding: 3px 7px;
  border: 0;
  border-radius: 7px;
  cursor: pointer;
}

.cityInfo {
  margin: 50px 0;
  line-height: 10px;
}

.weekday-list {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  flex-wrap: wrap;
}
.weekday {
  background-color: rgb(129, 216, 250);
  padding: 5px;
  border-radius: 7px;
  width: 150px;
  min-height: 330px;
}
.weekday-temp {
  line-height: 5px;
  font-weight: bold;
}
.weekdata-date {
  font-weight: bold;
}
